.head-bar {
  height: 100%;
  width: 100vw;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background: rgb(171, 16, 50);
}

.spacer {
  flex: 1;
}

/* .main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0 1.5rem;
  display: none;
}

@media (min-width: 768px) {
  .main-nav__items {
    display: flex;
  }
} */

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: #ffffff;
  line-height: 2rem;
  text-align: center;
  background: rgb(41,98, 255);
}
