.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  min-width: 20vw;
  max-height: 75vh;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 32px;
  margin: 0 auto; /* Will not center vertically and won't work in IE6/7. */
  top: 10vh;
  left: 0;
  right: 0;
  box-sizing: border-box;
  overflow: auto;
  /* transition: transform 0.3s ease-out, opacity 0.3s ease-out; */
}

.close-icon-container{
  text-align: right;
}

@media (min-width: 600px) {
  .Modal {
    /* width: 80vw; */
    width: 60vw;
  }
}
