
.button {
  font: inherit;
  border: 1px solid #3b0062;
  color: #3b0062;
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-color: #a30000;
  color: #a30000;
}

.button:hover,
.button:active {
  background: #a30000;
  color: white;
}
