.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(171, 16, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

/* @media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
} */

.circle {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: #ffffff;
    line-height: 2rem;
    text-align: center;
    background: rgb(41,98, 255);
  }
  