*{
  box-sizing: border-box;
}

.Toolbar {
    height: 4rem;
    width: 100%;
    min-width: 300px;
    position: relative;
    top: 0;
    /* left: 0; */
    background: rgb(171, 16, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 50;
    /* transition: transform 0.3s ease-out;  */
}


.circle {
    cursor: pointer;
    margin-right: 30px;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    line-height: 3rem;
    text-align: center;
    background: rgb(41,98, 255);
  }
  

  .logout {
    position: absolute;
    top: 100%;
    right:15px;
    width: 80px;
    z-index: 200;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 5px;
  }
  
  li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }

@media screen and (min-width: 600px) {
    .Open {
      left: 280px;
      animation: grow 0.3s ease-out;
      width: calc(100vw - 280px);
    }
    
    .Closed {
      animation: shrink 0.3s ease-out;
    }
}

@keyframes grow {
  0%   {width: 100vw;left:0;}
  100% {
    width: calc(100vw - 280px);
    left:280px;}
}

@keyframes shrink {
  0%   {width: calc(100vw - 280px);
    left:280px;}
  100% {width: 100vw;left:0;}
}
