.new-patient-container{
    display: flex;
    height: calc(100vh - 8rem);
}

.personal-info-container {
    margin-top: 4rem;
    height: calc(100vh - 8rem);
                  
}

.background{
    width: 30vw;
    background: url("../../../assets/Images/Pill.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 4rem);
}