*{
    box-sizing: border-box;
}
.new-patient-container{
    display: flex;
    height: calc(100vh - 8rem);
    width: 100%;
}

.personal-info-container {
    margin-top: 4rem;
    height: calc(100vh - 8rem);
    width:100%;
}

.background{
    width: 20rem;
    background: url("../../../assets/Images/Pill.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 4rem);
}

@media only screen and (max-width:650px) {
    .background{
        display: none;
    }
}