.main-container{
    display: flex;
}

.sidebar{
    box-sizing: border-box;
    margin: 0 0 0 0;
    background-color: rgb(236,236,236);
    max-width: 20vw;
    height: calc(100vh - 8rem);
    padding-bottom: 10px;
    width: 280px;
    overflow: auto;
    border-right: 1px rgb(224,225,224) solid;
}

.sidebar-header {
    margin-top: 0;
    padding-top: 2rem;
    margin-bottom: 0;
    background-color: rgb(236,236,236);
    text-align: center;
    font-size: x-large;
    color:  rgb(171, 16, 50);
}
