.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #ffffff;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out; 
    border-right: solid rgb(224,225,224) 3px;
}


.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.spacer {
    height: 20px;
}

@media screen and (min-width: 600px) {
    .SideDrawer{
        z-index: 0;
    }
}