.header-container{
    width: 100%;
    text-align: center;
}

.header-container > div{
    margin: 2rem auto;
    height: 60vh;
    width: 60vw;
    background: url("../../assets/Images/Pill.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}