.main_container{
    display: flex;
}

/* .main_sidebar,
.sidebar--existing-patient{
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 100vh;
    width: 15vw;
    padding: 0 1rem;
    align-items: center;
    border-right: 0.5px solid #f0f0f0;
}

.main_content{
    max-width: 75vw;
}

.sidebar--existing-patient{
    background: whitesmoke;
}  */

