

.form-container {
  padding:  2rem;
  width: 100% ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  min-height: 70vh;
}

.info-item {
  min-height: 56px;
  width: 70%;
  min-width: 70px;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

.button {
  margin-top: 32px;
  grid-column: 1/3;
  justify-self: center;
  width: 50% ;
  font: inherit;
  border: 1px solid #3b0062;
  color: #3b0062;
  background: none;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-color: #a30000;
  color: #a30000;
}

button:hover,
button:active {
    background: #a30000;
    color: white;
  }

.NKDA_item {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

 .error{
  border: 1px solid #f44336;
}

.success-text{
  text-align: center;
  font-size: large;
}

@media only screen and (max-width:650px){
  .form-container{
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    align-items: center;
  }
}

.button {
  margin: 10px auto 0;
  font: inherit;
  border: 1px solid #3b0062;
  color: #3b0062;
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-color: #a30000;
  color: #a30000;
}

.button:hover,
.button:active {
  background: #a30000;
  color: white;
}