

.form-container {
  padding:  2rem;
  width: 100% ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  min-height: 70vh;
}

.info-item {
  width: 100%;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

button {
  grid-column: 1/3;
  font: inherit;
  border: 1px solid #3b0062;
  color: #3b0062;
  background: none;
  padding: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-color: #a30000;
  color: #a30000;
}

button:hover,
button:active {
    background: #a30000;
    color: white;
  }

.NKDA_item {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

 .error{
  border: 1px solid #f44336;
}

.success-text{
  text-align: center;
  font-size: large;
}